/* =Reset
----------------------------------------------- */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
	border: 0;
	font: inherit;
	font-size: 100%;
	font-style: inherit;
	font-weight: inherit;
	margin: 0;
	outline: 0;
	padding: 0;
	vertical-align: baseline;
}
html {
	overflow-y: scroll; /* Keeps page centred in all browsers regardless of content height */
	-webkit-text-size-adjust: 100%; /* Prevents iOS text size adjust after orientation change, without disabling user zoom */
	-ms-text-size-adjust: 100%; /* www.456bereastreet.com/archive/201012/controlling_text_size_in_safari_for_ios_without_disabling_user_zoom/ */
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
main,
nav,
section {
	display: block;
}
ol, ul {
	list-style: none;
}
table { /* tables still need 'cellspacing="0"' in the markup */
	border-collapse: collapse;
	border-spacing: 0;
	margin: 0 0 1.5em;
	width: 100%;
}
th {
   font-weight: bold;
}
th, td {
   border: 1px solid #EAEAEA;
   padding: 6px 10px;
}
caption, th, td {
	text-align: left;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: "";
}
blockquote, q {
	quotes: "" "";
}
a:focus {
	outline: none;
}
a:hover,
a:active { /* Improves readability when focused and also mouse hovered in all browsers people.opera.com/patrickl/experiments/keyboard/test */
	outline: 0;
	text-decoration:none;
}
a img {
	border: 0;
}
embed, iframe, object {
	max-width: 100%;
}
button::-moz-focus-inner {
	border: 0;
	padding: 0;
	margin: 0;
}

input:focus, a:visited {
	outline:0!important;
	box-shadow:0 0 0 #000!important;	
}

/* =GLOBAL
----------------------------------------------- */
/* Generated by Font Squirrel (http://www.fontsquirrel.com) on May 17, 2015 */
@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,700|Oswald:400,700|Lobster);



body,
button,
input,
select,
textarea {
	color: #264961;
	line-height: 20px;
}

/* Headings */
h1, h2, h3, h4, h5, h6 {
	padding-bottom: 18px;
	color: #222222;
	font-weight: normal;
	
}
h1 { font-size: 32px; line-height: 38px; }
h2 { font-size: 28px; line-height: 32px; }
h3 { font-size: 24px; line-height: 28px; }
h4 { font-size: 21px; line-height: 27px; }
h5 { font-size: 19px; line-height: 25px; }
h6 { font-size: 18px; line-height: 24px; }
hr {
	border-color: #EAEAEA;
	border-style: solid none none;
	border-width: 1px 0 0;
	height: 0;
	margin: 30px 0;
}

p {margin:0; padding:0;}

.marg1 {float:left; width:100%; height:20px;}
.marg2 {float:left; width:100%; height:25px;}
.marg3 {float:left; width:100%; height:30px;}
.marg4 {float:left; width:100%; height:35px;}
.marg5 {float:left; width:100%; height:40px;}
.marg6 {float:left; width:100%; height:45px;}
.marg7 {float:left; width:100%; height:50px;}
.marg8 {float:left; width:100%; height:55px;}
.marg9 {float:left; width:100%; height:60px;}
/* = prefixes
---------------------------------------------------------------- */	
body {
	color:#505050;
	background:#f5f5f5;	
}
.positer {
	position:relative;
	margin:0;
	width:100%;
	float:left;
	padding:0;	
}
.positer-ab {
	position:absolute;
	margin:0;
	width:100%;
	height:100%;
	float:left;
	padding:0;	
	top:0px;
	left:0px;
}
.positer-abs {
	position:absolute;
	margin:0;
	width:100%;
	float:left;
	padding:0;	
}

.mg1, .mg2, .mg3, .mg4, .mg5, .mg6, .mg7, .mg8, .mg9, .mg10 , 
.mg1-x, .mg2-x, .mg3-x, .mg4-x, .mg5-x, .mg6-x, .mg7-x, .mg8-x, .mg9-x, .mg10-x {
	margin:0px; 
	padding:0px;		
}

body, 
#wrapper, 
#header, 
#banner, 
#footer,
.ph-num{	
	margin:0;
	float:left;
	width:100%;
	padding:0px;
}

#wrapper {
	background:#fff;	
	position:relative;
	overflow:hidden;
}

								 
/* = Header (logo, ph-num, menu)
--------------------------------*/	

/*=====================================================================Header starts================================================*/

.header{
	float:left;
	width:100%;
	background:#2e2b2b;
}

.top_ul{
	float:right;

} .ul_top{
	float:left;

} .ul_top li {
		float:left;	
	
	} .ul_top li a{
		float:left;
		color:#fff;
		padding:10px 0px 10px 18px;
			
	}  .ul_top a i {
			float:left;
			color:#fff;
			font-family:"fa";
			font-size:20px;	
		}
		
/*============================================================== banner & slider starts ============================================================*/

.banner{
	float:left;
	width:100%;
	background:#373434;
} 

.slider_box {
	float:left;
	width:100%;
}

.banners {
	float:left;
	width:100%;	
	}


.carousel-inner img {
		float:left;
		width:100%;	
	
	}
	
.carousel-control:before {
	float:left;
	font-family:'fa';
	font-size:90px;
	color:rgba(45,229,54,0.5);
	
} 	.right.carousel-control:before{
		content: "\f105";
	}	.left.carousel-control:before{
		content: "\f104";
	}