/* =Reset
----------------------------------------------- */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
	border: 0;
	font: inherit;
	font-size: 100%;
	font-style: inherit;
	font-weight: inherit;
	margin: 0;
	outline: 0;
	padding: 0;
	vertical-align: baseline;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
main,
nav,
section {
	display: block;
}
ol, ul {
	list-style: none;
}
table { /* tables still need 'cellspacing="0"' in the markup */
	border-collapse: collapse;
	border-spacing: 0;
	margin: 0 0 1.5em;
	width: 100%;
}
th {
   font-weight: bold;
}
th, td {
   border: 1px solid #EAEAEA;
   padding: 6px 10px;
}
caption, th, td {
	text-align: left;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: "";
}
blockquote, q {
	quotes: "" "";
}
a:focus {
	outline: none;
}
a:hover,
a:active { /* Improves readability when focused and also mouse hovered in all browsers people.opera.com/patrickl/experiments/keyboard/test */
	outline: 0;
	text-decoration:none;
}
a img {
	border: 0;
}
embed, iframe, object {
	max-width: 100%;
}
button::-moz-focus-inner {
	border: 0;
	padding: 0;
	margin: 0;
}

/* =GLOBAL
----------------------------------------------- */
@import url(http://fonts.googleapis.com/css?family=Oswald:400,700,300|Open+Sans:400,300,600,700);


/* = Prefix
---------------------------------------------------------------- */	
body,
button,
input,
select,
textarea {
	color: #333e42;
	font-family: 'Oswald', sans-serif;
	font-size:14px;
	line-height: 20px;
}

/* Headings */
h1, h2, h3, h4, h5, h6 {
	color: #222222;
	font-weight: 600;
}
h1 { font-size: 32px; line-height: 38px; }
h2 { font-size: 28px; line-height: 32px; }
h3 { font-size: 24px; line-height: 28px; width: 1100px;}
h4 { font-size: 21px; line-height: 27px; }
h5 { font-size: 19px; line-height: 25px; }
h6 { font-size: 18px; line-height: 24px; }
hr {
	border-color: #EAEAEA;
	border-style: solid none none;
	border-width: 1px 0 0;
	height: 0;
	margin: 30px 0;
}

p {
	margin:0; padding:0;
}
a {
	color:#172232;
}
a:hover {
	color:#00f;
}
b, strong, em {
	font-weight:600;	
}

/** positions **/
.positer,
.positer-ab, 
.positer-abs,
.marg  {
	float:left;
	width:100%;
	margin:0;
	padding:0;
	position:relative;	
	
}	.positer-ab,
	.positer-abs  {
		position:absolute;
		top:0px;
		left:0px;
	
	}	.positer-abs {
			height:100%;
			background:rgba(0,0,0,0.7);
		}
.marg {
	height:1px;		
}

.visible {
	display:block;	

}	.invisible {
	display:none;	
}

/** input focus and a visited **/
input:focus,
select:focus,
textarea:focus,
button:focus, 
a:visited,
a:focus {
	outline:0!important;
	box-shadow:0 0 0 #000!important;	
	text-decoration:none!Important;
}

img { height:auto;}

/* = main Css Begin
-----------------------*/	
html,
body {
	
	height:100%;
}

#header, 
#body-bx, 
#footer{	
	float:left;
	margin:0;
	width:100%;
	padding:0px;
}

.container {
	overflow:hidden; 
	margin: 0 auto;
    padding: 0;
    width: 1100px;
}								 

/* = Header (logo, add)
--------------------------------*/	
.header {
	float:left;
	width:100%;
	background:#2e2b2b;
}

.top_ul {
	float:right;
}

.ul_top{
		float:right;	
	
	} .ul_top li {
			float:left;	
		
		} .ul_top li a{
				float:left;
				color:#fff;
				padding:14px 0px 14px 22px;	
			
			} .ul_top li a i {
					float:left;
					font-size:20px;
					font-family:"fa";	
				} 
				

/*=========================banner & slider starts ====================================*/
.banner {
	float:left;
	width:100%;
	background:#000;	
}

.slider_box{
	float:left;
	width:100%;
}

.slider_box:hover .carousel-control:before{
	display:block;
}

.banners {
	float:left;
	width:100%;	
	}


.carousel-inner img {
		float:left;
		width:100%;	
	
	}
	
.carousel-control:before {
	float:left;
	font-family:'fa';
	font-size:60px;
	color:rgba(46,43,43,0.5);
	display:none;
	
} 	.right.carousel-control:before{
		content: "\f105";
	}	.left.carousel-control:before{
		content: "\f104";
	}
	
/* intrduction box */
.intro_box{
	float:left;
	width:100%;
	text-align:center;
	margin:50px 0px 0px 0px;
}

.intro_box h2{
	display:inline-block;
	width:100%;
	font-size:40px;
	font-family:'Open Sans';
	color:#fff;

}

.intro_box p{
	display:inline-block;
	width:100%;
	font-size:20px;
	font-family:"Oswald";
	color:#fff;
	margin:25px 0px 0px 0px;
	padding: 0px 30px;
	line-height: 185%;
	text-align: left;
}

.intro_ul{
	display:inline-block;
	width:100%;	
	padding-top: 30px;

} .intro_ul li {
		display:inline-block;	
	
	} .intro_ul li a {
			float:left;
			color:#fff;
			padding:0px 0px 0px 25px;	
		
		} .intro_ul li a i {
				float:left;
				font-size:50px;
				font-family:'fa';
					
			}


/*=========================my work starts ====================================*/

.mywork_bx{
	float:left;
	width:100%;
	background:#e0e0e0;
	padding:40px 0px;
}
 


.mywork_bx h2 {
	float:left;
	width:100%;
	text-align:center;
	font-size:50px;
	font-family:"Open Sans";
	font-weight:700;
	color:#161010;
}

.technology_items,
.item_container,
.image_container,
.image_container img{
	float:left;
	width:100%;
}

.technology_items .row{
	margin:0 -19px;
}

.technology_items .image_container {
	height: 210px;
	width: 250px;
	padding:5px;
	border: 3px solid #ccc;
}

.technology_items .image_container img {
	height: 200px;
	width: auto;
}

.item_container{
	padding:32px 19px 0px 0px;
	
}
.image_container{
	position:relative;
}
.hover_caption{
	float:left;
	position:absolute;
	width:100%;
	height:100%;
	background:#fff;
	top:0;
	opacity:0.7;
	display:none;
}

.hover_caption span{
	float:left;
	text-align:center;
	position:absolute;
	top:30%;
	left:7%;
}

.hover_caption span p,
.hover_caption span small  {
	display:inline-block;
	font-size:20px;
	font-family:"Open Sans";
	font-weight:700;
	color:#161010;
}

.hover_caption span small{
	font-size:25px;
	margin-top:25px;
}

.image_container:hover .hover_caption{
	display:block;
}


/*==================================================testimonials starts =======================================================================*/

.testimonial_slider{
		float:left;
		width:100%;
		background:#fff;
		padding:40px 0px;	
	
	} 

.testimonials_box{
	display:inline-block;
	width:100%;
	background:#fff;
	text-align:center;
	
	

} 
.testimonial {
	display:inline-block;
	width:80%;
	}

.test_img{
		float:left;
		width:20%;
		text-align:center;
		margin-top:50px;
			
	
	} .test_img img {
			float:left;
			border-radius:50%;
				
		}
		
.test_hd {
	float:left;
	width:100%;
	text-align:center;

} .test_hd  h2{
		display:inline-block;
		font-size:50px;
		color:#000;
		font-family:'Open Sans';
		font-weight:700;		
		width:100%;
	
	} .test_img small {
			display:inline-block;
			font-size:20px;
			font-family:"Open Sans";
			font-weight:600;
			color:#000;
			margin:10px 0px 0px 0px;
				
		}
		
.test_info {
	float:left;
	width:80%;
} .test_info p {
		float:left;
		font-size:20px;
		line-height:30px;
		color:#000;
		font-family:'Open Sans';
		font-weight:normal;
		margin:52px 0px 0px 55px;
		text-align:center;	
	}
	
	.test_info p:before,
	.test_info p:after{
		float:left;
		font-size:20px;
		color:#000;
		font-family:"fa";		
	}
	
	.test_info p:before{
			content: "\f10d";	
		}
		
	.test_info p:after{
			float:right;
			content: "\f10e";
		}

/* ==================================================================contact starts =================================================================*/

.contact_box{
	float:left;
	width:100%;
	background:#e0e0e0;
	padding:40px 0px;
}

.contact_box h2 {
	float:left;
	width:100%;
	text-align:center;
	font-size:50px;
	color:#161010;
	font-family:'Open Sans';
	font-weight:700;
}

.form_box{
	float:left;
	width:100%;
	padding:32px 0px 0px 0px;
}

.input_holder{
	float:left;
	width:100%;
	margin:0px 0px 21px 0px;
}

.form_box label{
	float:left;
	width:20%;
	font-size:20px;
	font-family:'Open Sans';
	line-height:24px;
	font-weight:700;
	margin:17px 0px 0px 0px;
}

.fip{
	float:left;
	width:80%;
	padding:10px;
	border:0;
}

.fta{
	float:left;
	width:80%;
	padding:10px;
	height:200px;
	border:0;
	
}

.sbt{
	float:left;
	color:#fff;
	font-family:'Open Sans';
	font-size:20px;
	font-weight:700;
	background:#62718f;
	padding:15px 25px;
	border:0;
	border-radius:3px;
	margin-left:107px;
}

.map_box{
	float:right;
	margin-top:25px;
	line-height:0;
	border:5px solid #fff;
	
}

.map_box iframe{
	float:right;
	
}

/*==================================================================footer starts ================================================================*/

.footer{
	float:left;
	width:100%;
	background:#2e2b2b;
	padding:61px 0px 94px 0px;
}

.copyright_info{
	float:left;
	width:100%;
	text-align:center;
}

.copyright_info p {
	display:inline-block;
	font-size:20px;
	font-family:'Open Sans';
	font-weight:700;
	color:#fff;
}




/*======================================================================= media starts ================================================================*/
@media screen and (max-width:400px){
	
	.carousel-control::before{
		font-size:35px;		
	}
	
	.carousel-indicators .active,
	.carousel-indicators li{
			height:10px;
			width:10px;	
		}
		
	.intro_box{
			margin:42px 0px 0px 0px;		
	}
	
	.intro_box h2{
			font-size:24px;	
		}
		
	.intro_box p {
   		font-size: 15px;
    	margin: 25px 0 30px;
   		padding: 0 10px;
    
	}

	.intro_box a, .intro_box a:hover {
   		color: #ddd;
    	
	}
	
	.intro_ul li a i{
			font-size:20px;	
		}
		
	.intro_ul{
			margin-bottom:20px;	
		}
		
	.mywork_bx h2,
	.test_hd h2,
	.contact_box h2{
		font-size:35px;		
	}
	
	.mywork_bx,
	.contact_box{
			padding:25px 0px;	
		}
		
	.testimonial,
	.test_img,
	.test_info,
	.form_box label,
	.fip,
	.fta,
	.map_box,
	.test_img small,
	.hover_caption span p, .hover_caption span small{
		width:100%;		
	}
	
	.test_img img{
			width:auto;		
	}
	
	.test_img > a{
		display:inline-block;		
	}
	
	.form_box label{
		margin-bottom:10px;		
	}
	
	.test_info{
		margin-bottom:20px;		
	}
	
	.test_info p{
		font-size:15px;
		line-height:20px;
		margin:26px 0px 0px 0px;		
	}
	
	.test_info p::before, .test_info p::after{
			font-size:15px;	
		}
		
	.carousel-indicators{
		bottom:-2px;
		left:47%;		
	}
	
	.form_box{
		padding:10px 0px 0px 0px;		
	}
	
	.sbt{
		margin:15px 0px 0px 0px;		
	}
	
	.input_holder{
		margin:0;		
	}
	
.copyright_info p{
	font-size:13px;
}

.fuller{
	width:100%;
}

	
	
} 

@media screen and (min-width:401px) and (max-width:551px) {
	
		.carousel-control::before{
		font-size:35px;		
	}
	
	.carousel-indicators .active,
	.carousel-indicators li{
			height:10px;
			width:10px;	
		}
		
	.intro_box{
			margin:42px 0px 0px 0px;		
	}
	
	.intro_box h2{
			font-size:24px;	
		}
		
	.intro_box p {
   		font-size: 15px;
    	margin: 25px 0 30px;
   		padding: 0 10px;
    
	}
	
	.intro_ul li a i{
			font-size:20px;	
		}
		
	.intro_ul{
			margin-bottom:20px;	
		}
		
	.mywork_bx h2,
	.test_hd h2,
	.contact_box h2{
		font-size:35px;		
	}
	
	.mywork_bx,
	.contact_box{
			padding:25px 0px;	
		}
		
	.testimonial,
	.test_img,
	.test_info,
	.form_box label,
	.fip,
	.fta,
	.map_box,
	.test_img small,
	.hover_caption span p, .hover_caption span small{
		width:100%;		
	}
	
	.test_img img{
			width:auto;		
	}
	
	.test_img > a{
		display:inline-block;		
	}
	
	.form_box label{
		margin-bottom:10px;		
	}
	
	.test_info{
		margin-bottom:20px;		
	}
	
	.test_info p{
		font-size:15px;
		line-height:20px;
		margin:26px 0px 0px 0px;		
	}
	
	.test_info p::before, .test_info p::after{
			font-size:15px;	
		}
		
	.carousel-indicators{
		bottom:-2px;
		left:47%;		
	}
	
	.form_box{
		padding:10px 0px 0px 0px;		
	}
	
	.sbt{
		margin:15px 0px 0px 0px;		
	}
	
	.input_holder{
		margin:0;		
	}
	
.copyright_info p{
	font-size:13px;
}

.hover_caption span small{
	font-size:18px;
}

.hover_caption span p{
	font-size:20px;
}


.hover_caption span small{
	margin-top:6px;
}
	
	
}


@media screen and (min-width:552px) and (max-width:767px) {
	
		.carousel-control::before{
		font-size:35px;		
	}
	
	.carousel-indicators .active,
	.carousel-indicators li{
			height:10px;
			width:10px;	
		}
		
	.intro_box{
			margin:42px 0px 0px 0px;		
	}
	
	.intro_box h2{
			font-size:24px;	
		}
		
	.intro_box p {
   		font-size: 15px;
    	margin: 25px 0 30px;
   		padding: 0 10px;
    
	}
	
	.intro_ul li a i{
			font-size:20px;	
		}
		
	.intro_ul{
			margin-bottom:20px;	
		}
		
	.mywork_bx h2,
	.test_hd h2,
	.contact_box h2{
		font-size:35px;		
	}
	
	.mywork_bx,
	.contact_box{
			padding:25px 0px;	
		}
		
	.testimonial,
	.test_img,
	.test_info,
	.form_box label,
	.fip,
	.fta,
	.map_box,
	.test_img small,
	.hover_caption span p, .hover_caption span small{
		width:100%;		
	}
	
	.test_img img{
			width:auto;		
	}
	
	.test_img > a{
		display:inline-block;		
	}
	
	.form_box label{
		margin-bottom:10px;		
	}
	
	.test_info{
		margin-bottom:20px;		
	}
	
	.test_info p{
		font-size:15px;
		line-height:20px;
		margin:26px 0px 0px 0px;		
	}
	
	.test_info p::before, .test_info p::after{
			font-size:15px;	
		}
		
	.carousel-indicators{
		bottom:-2px;
		left:47%;		
	}
	
	.form_box{
		padding:10px 0px 0px 0px;		
	}
	
	.sbt{
		margin:15px 0px 0px 0px;		
	}
	
	.input_holder{
		margin:0;		
	}
	
.copyright_info p{
	font-size:13px;
}




}

@media screen and (min-width:768px) and (max-width:991px) {
	
	.intro_box{
		margin-top:30px;		
	}
	
	.intro_box h2{
		font-size:30px;		
	}
	
.intro_box p{
	font-size:14px; 
	margin:13px 0 14px 0px;
}

.intro_ul li a i{
	font-size:25px;
}

.hover_caption span p, .hover_caption span small{
	width:100%;
}

.test_info p
{
	font-size:15px;
	line-height:25px;
	margin-bottom:30px;
}

.test_info p::before, .test_info p::after{
	font-size:15px;
}

.carousel-indicators{
	bottom:-5px;
	left:56%;
}

.fip,
.fta{
	width:72%;
	margin-left:28px;
}

.sbt{
	margin-left:98px;
}
	
}

@media screen and (min-width:992px) and (max-width:1159px) {	
	.intro_box{
		margin:30px 0px 0px 0px;		
	}
	
}

